body {
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
  background-image: url('https://img.freepik.com/foto-gratis/experiencia-programacion-persona-que-trabaja-codigos-computadora_23-2150010125.jpg?w=1060&t=st=1683561523~exp=1683562123~hmac=62680759651e88235d336edb431c008f7f35e3ae7eceff8ee3b48f7d4a5ac7d9');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/*Estilos del Header*/

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

/*Estilos del LOGO */
header img {
  width: 100px;
  height: auto;
}

/*Estilos del NAV*/
nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: yellow;
  text-decoration: underline;
  transition: transform 0.3s ease-in-out;
}

/* ESTILOS MENU HAMBURGUESA */

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 60px;
  cursor: pointer;
  color: #fff;
  z-index: 2;
  display: none;
}

@media (max-width: 1024px) {
  nav ul.nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    list-style: none;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.show {
    transform: translateX(0%);
  }

  .hamburger {
    display: block;
  }

  nav a {
    font-size: 4rem;
  }

  nav ul {
    display: none;
  }
}

@media (min-width: 1025px) {
  .hamburger {
    display: none;
  }

  nav ul {
    display: flex;
  }
}

/*Estilos etiqueta MAIN */

main {
  display: flex;
  min-height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

h1,
img {
  flex: 0 0 auto;
}

img {
  max-width: 60%;
}

.block-div {
  display: inline-block;
  box-shadow: 2px 2px 5px #ddd;
  width: 60%;
}

.block-div::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ddd;
  position: absolute;
  right: -10px;
  bottom: -10px;
}

/*ESTILOS FOOTER*/

footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 30px;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.contact p {
  margin-right: 10px;
}

.contact a img {
  width: 60px;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.contact a:hover img {
  transform: scale(1.2);
}