body {
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
  background: rgb(8, 19, 28, 0.9);
}

/*Estilos del Header*/

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/*Estilos del LOGO */
header img {
  width: 150px;
  height: auto;
}

@media (max-width: 1024px) {
  header img {
    width: 100px;
  }
}

/*Estilos del NAV*/
nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: yellow;
  text-decoration: underline;
  transform: scale(1.2);
}

/* ESTILOS MENU HAMBURGUESA */

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 60px;
  cursor: pointer;
  color: #fff;
  z-index: 2;
  display: none;
}

@media (max-width: 1024px) {
  nav ul.nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    list-style: none;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.show {
    transform: translateX(0%);
  }

  .hamburger {
    display: block;
  }

  nav a {
    font-size: 3rem;
  }

  nav ul {
    display: none;
  }
}

@media (min-width: 1025px) {
  .hamburger {
    display: none;
  }

  nav ul {
    display: flex;
  }
}

/*Estilos etiqueta MAIN */

@media (min-width: 1025px) {

  main {
    display: flex;
    min-height: 1024px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }

  article,
  aside {
    width: 45%;
    margin: 10px;
  }

  aside {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: whitesmoke;
    border-radius: 15px;
    color: black;
    padding: 15px;
  }

  .block-div {
    display: inline-block;
    padding: 15px;
    box-shadow: 2px 2px 5px #ddd;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .p-index {
    font-size: 18px;
    font-weight: 600;
  }

  .block-div::after {
    content: "";
    display: block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ddd;
    position: absolute;
    right: -10px;
    bottom: -10px;
  }
}

@media (max-width: 1024px) {
  main {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }

  .block-div {
    display: inline-block;
    padding: 15px;
    box-shadow: 2px 2px 5px #ddd;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .p-index {
    font-size: 16px;
    font-weight: 600;
  }

  aside {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: whitesmoke;
    border-radius: 15px;
    color: black;
    padding: 15px;
  }

}

/*ESTILOS FOOTER*/

footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact a img {
  width: 68px;
  transition: transform 0.3s ease-in-out;
}

.contact a:hover img {
  transform: scale(1.2);
}

.holberton-footer-img {
  width: 10%;
}

@media (max-width: 1024px) {

  .holberton-footer-img {
    width: 50%;
  }
}

/*-------------------TWEETS.HTML--------------*/

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.main-tweets {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-tweets>div {
  width: 25%;
  box-sizing: border-box;
}